process {
    container = 'ubuntu:22.04'

    withName: 'plot' {
        container = 'rocker/r-base:4.3.0'
        beforeScript = 'apt-get update && apt-get install -y procps' // work-around required in order to have ps in Seqera platform
    }
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

